<h1>ยก Hola Mundo de Rails!</h1>



  <tbody>
    
      <tr>
        <td><%= link_to 'Clientes', '/clientes'%></td>
        <td><%=link_to 'Productos','/productos'%></td>
        <td><%=link_to 'Orden','/ordens'%></td>
        <td><%=link_to 'Detalle Orden','detalle_ordens'%> 
      </tr>
  </tbody>
</table>

<br>

